<div class="example-container">
    <div class="task_header">
        <p>To do</p>
    </div>
    <div 
        cdkDropList 
        id="list-todo" 
        [cdkDropListData]="todo" 
        [cdkDropListConnectedTo]="['list-progress']"
        class="example-list" 
        (cdkDropListDropped)="drop($event)"
    >
        <div class="example-box" *ngFor="let task of todo" cdkDrag>
            <div class="conainter-task-drag-and-drop">
                <div class="task-title_grad-and-drop">
                    <div class="title-task">{{task.title}}</div>
                    <div class="date-task">{{task.date | date: 'MMMM d, y'}}</div>
                </div>
                <div class="task-description_grad-and-drop">{{task.description}}</div>
            </div>
            <mat-icon class="actions" (click)="openDialog('edit', task, 'todo')">aspect_ratio</mat-icon>
        </div>
    </div>
    <div class="example-list new-task-list" (click)="openDialog('new-task')">
        <div class="example-box new-task">
            <mat-icon fontIcon="exposure_plus_1"></mat-icon>
        </div>
    </div>
</div>

<div class="example-container">
    <div class="task_header">
        <p>In Progress</p>
    </div>
    <div 
        cdkDropList 
        id="list-progress" 
        [cdkDropListData]="progress" 
        [cdkDropListConnectedTo]="['list-todo', 'list-done']"
        class="example-list" 
        (cdkDropListDropped)="drop($event)"
    >
        <div class="example-box" *ngFor="let task of progress" cdkDrag>
            <div class="conainter-task-drag-and-drop">
                <div class="task-title_grad-and-drop">
                    <div class="title-task">{{task.title}}</div>
                    <div class="date-task">{{task.date | date: 'MMMM d, y'}}</div>
                </div>
                <div class="task-description_grad-and-drop">{{task.description}}</div>
            </div>
            <mat-icon class="actions" (click)="openDialog('edit', task, 'progress')">aspect_ratio</mat-icon>
        </div>
    </div>
</div>

<div class="example-container">
    <div class="task_header">
        <p>Done</p>
    </div>
    <div 
        cdkDropList 
        id="list-done" 
        [cdkDropListData]="done" 
        [cdkDropListConnectedTo]="['list-progress']" 
        class="example-list" 
        (cdkDropListDropped)="drop($event)"
    >
        <div class="example-box" *ngFor="let task of done" cdkDrag>
            <div class="conainter-task-drag-and-drop">
                <div class="task-title_grad-and-drop">
                    <div class="title-task">{{task.title}}</div>
                    <div class="date-task">{{task.date | date: 'MMMM d, y'}}</div>
                </div>
                <div class="task-description_grad-and-drop">{{task.description}}</div>
            </div>
            <mat-icon class="actions" (click)="openDialog('edit', task, 'done')">aspect_ratio</mat-icon>
        </div>
    </div>
</div>