// colors
$dark-card-bg: #363636;
$dark-sheet-bg: #454545;
$status-blue: #1C5A7C;
$status-green: #106354;
$status-violet: #54117D;
$status-brown: #71441B;
$status-grey: #6E6D6D;
$tags-orange: #CB9647;
$tags-blue: #4765B0;
$tags-green: #17A14E;
$tags-black: #000000;
